*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
body{
    background:black;
}
.wrapper{
    width: 100%;
    height:100%;
}
.wrapper .container{
    width: 96%;
    margin:0 auto;
}
.divider{
    width: 100%;
    height: 2px;
    background: #ffffff;
}
.whitespace{
    width:100%;
    height:80px;
}

.menu_item{
    position: relative;
    padding: 1.6vw 0 0 0;
    margin: 4px;
}

.navbar .navbar-container{
    display: flex;
    padding: 12px 0;
    font-size: 1rem;
    justify-content: space-between;
}
.navbar .navbar-container .site-title{
    flex-grow: 1;
}
.navbar .navbar-container .site-type{
    flex-grow: 1;
}
.header{
    margin: 80px 0;
    z-index: 2 !important;
}
.header .header-container h1{
    font-size: 10rem;
}
.hero-image{
    width: 100%;
    margin-top: -300px;
}
@media screen and (max-width: 900px){
    .header .header-container h1{
        font-size:4.5rem;
    }
}

.hero-image:after{
    content:"";
    display: table;
    clear: both;
}
.hero-image .hero-image-container{
    width:300px;
    height: 300px;
    float: right;
   
}
.hero-image .hero-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@media screen and (max-width: 900px){
    .hero-image{
        margin-top: 40px;
        
    }
    
}
.section-header .section-header-container{
    display: flex;
    padding: 12px 0;
    font-size: 1rem;
    justify-content: space-between;
}
.section-title{
    font-size: 1.5rem;
}
.section-order{
    font-size: 1.5rem;
}
.about{
    width: 100%;
}
.about:after{
    content:"";
    display: table;
    clear: both;
}
.about .about-container{
    width: 70%;
    float: right;
}
.about .about-container p{
    margin: 40px 0;
    font-size: 36px;
}
@media screen and (max-width:900px){
    .about .about-container{
        width: 100%;
    }
    .about .about-container p{
        width: 100%;
        font-size: 1.5rem;
    }
}
.job{
    margin: 40px 0;
    display: flex;
    
}
.job-container p{
    font-size: 27px;
    line-height:2.20 ;
    margin: 20px 0;
    font-weight: 700;
}
.bossinfo-logo{
    width:50vh;
    margin: 0 30px;
}
.bossinfo-logo img{
    width: 100%;
}

@media screen and (max-width:900px){
    .job{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        
    }
}
@media screen and (max-width:420px){
    .job-container p{
        font-size: 1.3rem;
        
    }
}
/* descrip */
.work-container{
    display: none;
    margin: 75px auto;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    
}
.work-descrip{
    font-size: 36px;
    display: grid;
    gap: 5rem;
    width: 50%;
    border:4px solid #ffffff ;
    padding: 40px;
}
.image-container{
    display: none;
}
.phone{
    max-height: 500px;
    margin-right: 10px;
}
.interface{
    max-height: 250px;
}
.dm{
    max-height: 400px;
}
.work-image{
display: grid;
grid-template-columns: 1fr 1fr 2fr;
gap: 0;
max-width: 100%;

}
.work-image img{
    max-height: 200px;
}
.card{
    background:#000000;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 900;
    max-width: 300px;
    box-shadow: 3px 6px 8px blanchedalmond;
    position: absolute;
    bottom:17%;
    right: -50%;
}
@media screen and (max-width:1050px){
    .work-container{
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        border:none;
    }
    .work-descrip{
        font-size: 1.3rem;
        display: grid;
        gap: 3rem;
        width: 100%;  
    }
    .card{
        display: none;
    }
    .work-image{
        padding: 0 20px;
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (max-width:420px){
    .work-image img{
       width: 80%;
       max-height: unset;
    }
}
.menu_item-link{
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-text-stroke: 1.5px #ffffff;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition:opacity 0.4s;
    font-size: 1.5rem;

}
.menu_item-link:before{
    all: initial;
    counter-increment: menu;
    position: absolute;
    bottom: 60%;
    pointer-events: none;
}

.menu_item-link:hover{
    transition-duration: 0.1s;
    opacity: 0;
}
.menu_item-img{
    pointer-events: none;
    position: absolute;
    height: 90vh;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}


.menu_item-link:hover + .menu_item-img{
    opacity: 1;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
    transition: all 0.4s;
}
@media screen and (max-width:420px){
    .menu_item-img{
        height: 40vh;
    }
    .menu_item-link:hover + .menu_item-img{
        opacity: 0;
        transform: none;
    }
    
}
.menu{
    --offset:20vw;
    --move-initial:calc(-25% + var(--offset));
    --move-final:calc(-50% + var(--offset));
    font-size: 7vw;
}
.marquee{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 0;
    overflow: hidden;
    color: #ffffff;
    pointer-events: none;
    mix-blend-mode: difference;
}
.marquee_inner{
    width: fit-content;
    position: relative;
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.1s;
    display: flex;
}
.menu_item-link:hover ~.marquee .marquee_inner{
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}
.menu_item-link,
.marquee span{
    white-space: nowrap;
    font-size: 8vw;
    padding: 0 1.2vw;
    font-weight: 900;
    line-height: 1.20;
    text-decoration: none;
}

.marquee span{
    font-style: italic;
}
@keyframes marquee{
    0%{
        transform:translate3d(var(--move-initial), 0, 0);

    }
    100%{
        transform:translate3d(var(--move-final), 0, 0);
    }
}

.myskill .myskill-container p{
    font-size: 80px;
    line-height:100px;
}
/* mywork */
.mywork{
    position: relative;
    padding: 0 0 5vh 0;
}
.mywork-item{
    z-index: 2;
    background: none;
    border: none;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke:0px;
}
@media screen and (max-width: 900px){
    .myskill .myskill-container p{
        font-size: 36px;
        line-height: 50px;
        text-align: justify;
    }
}
.github-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.socials .socials-container{
    justify-content: space-between;
}
.git-url{
    text-align: center;
}
.git-url a{
    font-weight: 700;
}
.socials .socials-container a{
    cursor: pointer;
    text-decoration: none;
    font-size: 64px;
}

@media screen and (max-width: 900px){
    .socials .socials-container a{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 420px){
    .socials .socials-container a{
        font-size: 1.3rem;
    }
    .hero-image .hero-image-container{
        float: unset;
        margin:  0 auto;
        
       
    }
    .work-descrip{
        padding: 20px;
    }
    .mywork{
        padding:  0 0 2vh 0;
    }
}
.show-text .work-container{
    display: flex;
}
.show-text .image-container{
    display: flex;
    justify-content: flex-end;
    
}
@media screen and (max-width:1100px){
    .show-text .image-container{
        display: flex;
        justify-content: center;
        margin: 10vh auto;
        
    }
    .phone{
        max-height: 300px;
    }
    .work-container{
        margin: 30px auto 0 auto;
    }
}